
@import './variables.less';
// @import './reset.css';
@import './layout.less';


.m-l-xs{
  margin-left: 5px;
}
.bg-white {
  background-color: #f9f9f9;
}
.text-ellipsis{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rounded {
  border-radius: 500px;
}
.padder {
  padding-right: 15px;
  padding-left: 15px;
}
.transparent {
  background: 0 0;
}
.form-control, .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.box-shadow-wrap-normal {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.05);
  box-shadow: 0 1px 3px rgba(0,0,0,.05);
}
.bg-white-pure {
  background: #fff;
}
.btn {
  font-weight: 500;
  border-radius: 2px;
  outline: 0!important;
}
.bg-white {
  color: #777;
}
.feathericons svg {
  vertical-align: middle;
}
.w-lg {
  width: 280px;
}
.wrapper {
  padding: 15px;
}
.form-control {
  border-color: rgba(135,150,165,.15);
  border-width: 1px;
  color: inherit;
}
label {
  font-weight: 400;
}
.btn-gd-primary {
  color: #fff;
  border: none;
  background: #448bff linear-gradient(45deg,#448bff,#44e9ff);
  padding-top: 6px;
  padding-bottom: 6px;
  transition: all .2s ease;
}

.box-shadow-wrap-lg {
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.1);
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
}
.padder-lg {
  padding-right: 30px;
  padding-left: 30px;
}

.btn-rounded {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 50px;
}